

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <p-toast></p-toast>

  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="users" [rows]="10" [paginator]="true" [globalFilterFields]="['firstname','lastname','id','email']"
             [(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Manage Users</h5>
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">UUID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="firstname">Firstname <p-sortIcon field="firstname"></p-sortIcon></th>
          <th pSortableColumn="lastname">Lastname <p-sortIcon field="lastname"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname }}</td>
          <td>{{user.email}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editUser(user)"></button>
            &nbsp;
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{users ? users.length : 0 }} users.
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="firstname">Firstname</label>
        <input type="text" pInputText id="firstname" [(ngModel)]="user.firstname" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !user.firstname">Firstname is required.</small>
      </div>
      <div class="p-field">
        <label for="lastname">Lastname</label>
        <input id="lastname" pInputText [(ngModel)]="user.lastname" required/>
        <small class="p-invalid" *ngIf="submitted && !user.lastname">Lastname is required.</small>
      </div>
      <div class="p-field" *ngIf="!creationMode">
        <label for="email">Email</label>
        <input id="email" pInputText [(ngModel)]="user.email" required/>
        <small class="p-invalid" *ngIf="submitted && !user.email">Email is required.</small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!(user.firstname && user.lastname && user.email)" (click)="saveUser()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</main>

<router-outlet></router-outlet>
